<!doctype html>
	<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
	inlineMath: [['$','$'],['\\(','\\)']]
	}
  });
</script>
    <h1>Exos correspondant à la compétence {{num1}} et {{num2}}</h1>
	<h1>Numéro des exos</h1>

	{%for num in num_resultats%}
		{{num}} -
	{%endfor%}
	<br>
		<h1>Énoncés</h1>
	<div style="display:true">
	$
	{{macros}}
	$
    </div>
	{%for en in resultats%}
    <p>{{en}}</p>
	<br>
	{%endfor%}
	<a href="{{ url_for('index2') }}">Retour à l'index</a>
	